<div class="wrapper shadow">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource, class: "text-danger" %>
    <h2 class="form-signin-heading">Sign up</h2>
    <div class="row">
      <div class="col">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" , class:'form-control', placeholder: 'First Name'%>
      </div>
      <div class="col">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" , class:'form-control', placeholder: 'Last Name'%>
      </div>
    </div>

    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder: 'Email Address'%>
    <%= f.password_field :password, autocomplete: "new-password", class:'form-control', placeholder: 'Password'%>
     <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:'form-control', placeholder: 'Confirm Password'%>
    <div class="actions">
      <%= f.submit "Sign in", class:"btn bg-blue" %>
    </div>
    <p><%= render "devise/shared/links" %> </p> 
  <% end %>
</div>

