<div class="main">
  <div class="nav">
    <div class="menu">
      <ul>
        <li><i class="fa fa-home"></i> Home</li>
        <li><%= button_to destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger' do %>
          <i class="fa fa-sign-out"></i> Logout
          <% end %></li>

      </ul>
    </div>
  </div>

  <div class="view">
    <div class="viewHeader shadow">
      <div class="title">Manage Tasks</div>
      <div class="functions">
        <div class="button active">
          <button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#newTaskModal">
            <i class="fa fa-edit"></i> Add New Task
          </button>
          <%= render partial: 'new_modal', locals: { task: Task.new } %>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="list">
        <table class="table table-bordered table-hover" cellspacing="0" width="100%">
          <thead>
            <tr>
              <td>Sr.no </td>
              <th>Task Name</th>
              <th>Description</th>
              <th>Created By</th>
              <th>Status</th>
              <th>Deadline</th>
              <th colspan="3">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @tasks.each_with_index do |task, index| %>
              <tr>
                <td><%= index + 1 %> </td>
                <td><%= task.title %></td>
                <td>
                  <span class="bg-danger-light">
                    <%= task.description.truncate(30) %>    
                  </span>
                </td>
                <td> <%= task.user&.full_name %></td>
                <td>
                  <span class="task-state-<%= task.state.downcase %>">
                    <%= task.state %>
                  </span>
                </td>
                <td><%= task.deadline.strftime('%d-%m-%Y - %I:%M %p') %></td>
                <td class="d-flex ">
                   <button type="button" class="btn btn-primary edit-task-btn" data-bs-toggle="modal" data-bs-target="#editTaskModal-<%= task.id %>">
                    <i class="fa fa-edit"></i> 
                  </button>

                  <%= render partial: 'edit_modal', locals: { task: task } %>

                  <%= button_to  task, method: :delete, class: 'btn btn-danger ml-5' do %>
                    <i class="fa fa-trash-o"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
