<div class="wrapper">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "form-signin shadow",method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2 class="form-signin-heading">Forgot your password?</h2>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder: 'Email Address'%><br>
    <div class="actions">
      <%= f.submit "Send me reset password instructions", class:"btn bg-blue" %>
    </div>
    <p><%= render "devise/shared/links" %> </p> 
  <% end %>
</div>
